:root{
    --PrimaryColor-backgroung-color:#011212; 
    --Primaryitem-width: 100px;
    --secondyitem-height: 100px;
    --secondaryColor-background-color:#ff8800;
    --bordo-border-radius: 50px;

}
    
    body {
    background-color:var(--PrimaryColor-backgroung-color);
}

.ball {
    width: var(--Primaryitem-width);
    height: var(--secondyitem-height);
    background-color: var(--secondaryColor-background-color);
    border-radius: var(--bordo-border-radius);
}
